.spawn-enter {
    opacity: 0.01;
    left: 0;
}

.spawn-enter.spawn-enter-active {
    opacity: 1;
    left: 0;
    transition: opacity 700ms ease-in, left 700ms ease-in;
}

.spawn-leave {
    opacity: 1;
}

.spawn-leave.spawn-leave-active {
    opacity: 0.01;
    transition: all 700ms ease-in;
}


.blood {
    color: rgba(137, 7, 14, 1)
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 30s linear infinite;
    -moz-animation: rotating 30s linear infinite;
    -ms-animation: rotating 30s linear infinite;
    -o-animation: rotating 30s linear infinite;
    animation: rotating 30s linear infinite;
}